# Supabase Configuration
SUPABASE_URL=https://xsktarxzkadclwknnbfx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhza3Rhcnh6a2FkY2x3a25uYmZ4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTY0NzM1MiwiZXhwIjoyMDg3MjIzMzUyfQ.d9S77F-__zn02gUi2ip8U_NspmC1hxCa4C5jdciibME

# MSG91 Configuration
MSG91_WEBHOOK_SECRET=dinesh-msg91
